.nav-bar i{
    font-size: 35px;
    border-radius: 50%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: ease-in-out;
    transition-duration: 1s;
}


.nav-bar a{
    text-decoration: none;
    color: white;
}

.nav-bar i :hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: aliceblue;
}



.form-element{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(131,58,180);
    background: linear-gradient(135deg, #cc2b5e, #96344c, #753a88);
    height: auto;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    
}


body{
    background: rgb(2,0,36);
    background: linear-gradient(135deg, #cc2b5e, #753a88);
     
    overflow-y: scroll;
    overflow-x: hidden;
}


.user-input{
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    width: 50%;
    font-size: medium;
    border: none;
    width: 40%;
}

h1{
    color: whitesmoke;
}

.form-element button{
    border-radius: 20px;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    margin: 10px 10px;
    cursor: pointer;
    outline: 0;
    border: 0;
    
    /* transition: background 1s; */
}

.signup{
    background: #3600a0;
    color: white;

}


.container p{
    text-align: center;
    padding-right: 70px;
}

h2{
    color: white;
}

