nav {
    padding: 0;
    margin: 15px;
    /* overflow: hidden; */
    width: 100%;
    height: 82px;
    background: #34495e;
    border-radius: 10px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); 
    

} 

li {
    float: left;
  }



header{
    display: flex;
    align-items: center;
    padding: 30px;
}
nav a{
   
    font-size: 15px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
}

li{
    float: left;
}

li a:hover {
    background-color: #111;}



.form{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    border-radius: 40px;
    position: absolute;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 20%;
    transform: translate(-50, 50);
    width: 30%;
    height: 55%;
    right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,34,1) 35%, rgba(102,0,255,1) 100%);
     
    overflow-y: scroll;
}

.form input[type = "text"], .form input[type="password"], .form input[type="email"]{
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    width: 40%;
    font-size: larger;
}

.form h1{
    color: whitesmoke;
}

.form button, input[type = 'submit']{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    margin: 10px 10px;
    cursor: pointer;
    outline: 0;
    border: 0;
    
    /* transition: background 1s; */
}

input[type = 'submit']{
    background: #3600a0;
    color: white;

}


.form p{
    text-align: center;
    padding-right: 100px;
}

h2{
    color: white;
}