<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename= "css/style.css")}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>
    <body>
        <header>
            <div class="row text-center nav-container">
             <div class= "row text-center mt-3 nav-bar">
                     <div class="col-3">
                         <a href = "{{ url_for('index')}}">
                         <i class="fa-solid fa-house"></i>
                         <p> Home </p></a>
                         </div>
                     <div class="col-3">
                         <a href = "{{ url_for('signup')}}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p> Log Out </p>
                         </a>
                     </div>
                     
                     <div class="col-3">
                         <a href="{{ url_for('contact')}}">
                             <i class="fa-solid fa-address-card"></i>
                             <p>Contact Us</p>
                         </a>
                     </div>

                     <div class="col-3 user">
                        <a href="{{ url_for('account') }}">
                            <i class="fa-solid fa-user"></i>
                                    <p>{{ name }}</p>
                              
                        </a>
                    </div>

                 </div>
             </div>
         </header>
            
<!-- <h1>Summarize For Me</h1>
    <p>Read Less Do More</p>-->

<form class="form" action= "{{ url_for("summarizer") }}" method="POST">
    <section class="vh-100 gradient-custom">
        <div class="container py-2 h-100">
            <h1 class='heading'>Text Summarizer</h1>
          <div class="row d-flex justify-content-center align-items-center h-75">
            <div class="col-12 col-md-0 col-lg-6 col-xl-5">
              <div class="card text-white form-element" style="border-radius: 1rem;">
                <div class="card-body p-3 text-center">
      
                  <div class="mb-md-2 mt-md-3 pb-3">
      
                
                    <div class="output">
                        <h1 class="fw-bold my-3 text-center">Summarized Text</h1>
                         <p class='result'>{{ data }}</p>
                    </div>
     
                    <div class="form-outline form-white mb-4">
                        <textarea type='text' name="userinput" class="form-control" rows=10 placeholder="Give me the long article I will summarize it for you." required onkeypress ="auto_grow(this);" onkeyup="auto_grow(this);"></textarea><br><br>
                        
                    </div>

                
                    <button type = 'submit' class= "btn btn-success ">Summarize</button>
      
                  
                    
                  </div>
      
                  <div>
                    
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>


        <script src="{{ url_for('static', filename='script.js')}}" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>