<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename= "css/style.css")}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>
    <body>
        <header>
            <div class="row text-center nav-container">
             <div class= "row text-center mt-3 nav-bar">
                     <div class="col-4">
                         <a href = "{{ url_for('index')}}">
                         <i class="fa-solid fa-house"></i>
                         <p> Home </p></a>
                         </div>
                     <div class="col-4">
                         <a href = "{{ url_for('signup')}}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p> Log Out </p>
                         </a>
                     </div>
                     
                     <div class="col-4">
                         <a href="{{ url_for('contact')}}">
                             <i class="fa-solid fa-address-card"></i>
                             <p>Contact Us</p>
                         </a>
                     </div>
                     
                
                 </div>
             </div>
         </header>
 
        <div class="main-container">
        <div class="container">
            <h1 class='heading'>Text Summarizer</h1>
           <!-- <h1>Summarize For Me</h1>
            <p>Read Less Do More</p>-->
            <div class="output">
                <h1>Summarized Text</h1>
                 <p class='result'>{{ data }}</p>
            </div>
    
        </div>     
    </div>
    <div class="wrapper">  
    <form action="{{ url_for("summarizer") }}", method='post'>
        <!-- <label for="">Give the Topic that you want to Summarize</label><br><br> -->
        <textarea type='text' name="userinput" rows=10 placeholder="Give me the long article I will summarize it for you." required onkeypress ="auto_grow(this);" onkeyup="auto_grow(this);"></textarea><br><br>
        <input type="submit" value="Summarize">


    </form>
</div>
   
        <script src="{{ url_for('static', filename='script.js')}}" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>